@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;400;500&family=Kameron:wght@400&family=Open+Sans+Condensed:wght@300&display=swap');

html{
    background-color: #01181D;
}
.App{
    margin: 0px auto;
    padding: 0 auto;
    background-color: #01181D;
}

.Wrapper{
    max-width: 900px; 
    margin: 0 auto;
    background-color: #01181D; 

}

.WrapperCreateAccount{
    max-width: 900px; 
    margin: 0 auto; 
    padding: 100px 0; 
}

.Header{
 width: 100%;
 position: fixed;
 background-color: #000F12;
 top: 0;
 height: 80px;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.Allposts{
    margin: 100px 100px;
}

.headerLogo{
    max-width: 120px;
    top: 0;
}


.headerWrapper{
    max-width: 1040px; 
    margin: 0 auto; 
    justify-content: space-between;
    flex-direction: row; 
    align-items: center; 
    display: flex; 
}

.Header_nav{
    margin: 30px 25px;
}


.Header_nav a{
    color: #C4C4C4;
    text-decoration: none; 
    margin: 10px; 
    padding: 5px 10px; 
    font-weight: bold; 
    font-size: 12px;
    letter-spacing: 0.2em;
    font-family: 'Open Sans Condensed';
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: border-bottom 600ms ease;
}

.Header_nav a:hover{
    border-bottom: 1px solid #EBFF00;
}

.Form label{
    margin-bottom: 5px;
    font-size: 12px;
    text-transform: uppercase;
    
}

.Form input{
    padding: 10px 80px 10px 10px;
    font-size: 16px; 
    margin-bottom: 20px;
    background-color: #C4C4C4;
    border: none;  
    color: #000E11;
    font-family: 'Kameron';
}

.Form button{
    padding: 8px 5px;
    font-size: 10px;
    border: #EBFF00; 
    border-width: 0.1px;
    border-style: solid; 
    background-color: #01181D;
    font-family: "Kameron"; 
    color: #C4C4C4;
    text-transform: uppercase;
    margin: auto 70px;
    padding: 10px 40px; 
}

.Form button:hover{
    cursor: pointer; 

}

.Form{
    color: #C4C4C4; 
    font-style: normal;
}

.CreateWrapper{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: flex-start;
    font-family: "Kameron"; 
}

.CreateWrapper > div, 
.CreateWrapper > form{
    flex-basis: 50%; 
    width: 100%; 
}

.CreateInformation{
    padding: 0 30px; 
    margin: 0 30px; 
    color: #C4C4C4;
    border-left: solid #C4C4C4;
    border-width: 0.5px; 
    line-height: 30px;
}

.LoginForm{
    max-width: 600px;
}

.postImage{
    width: 500px;
}

.postBodyText{
    border-left: solid #000F12; 
    border-width: 0.1px;

    padding: 5px 20px; 
    margin: 10px 20px;
    font-size: 12px;
}

.featureWrapper{
  margin: 0 auto; 
  padding: 10px 25px;
  display: block;
  background-color: #c4c4c4;
  align-content: center;
  max-width: 500px;
  font-size: 14px;

  font-family: 'Encode Sans'
}

.logoutBtn{
  border: #EBFF00  !important ; 
  border-width: 0.1px  !important;
  border-style: solid  !important; 
  transition: outline 0.6s linear;
}

.CreateForm{
    font-family: "Kameron"; 
    position: absolute; 
    left: 35%;
    margin-top: 170px;
    padding: 30px 40px;
    background-color: #000F12;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

.welcomePillar{
    font-family: "Open Sans Condensed"; 
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 87px;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 20px auto 50px auto;
    color: #C4C4C4;;
    opacity: 0.8;
}

.CreateTitle{
    font-size: 30px; 
    margin: 0 auto; 
    color: #C4C4C4;
}

.fakelink{
    font-size: 12px;
    text-decoration: underline;
}


.fakelink:hover{
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}

.CreatePostForm{
    margin: 100px 250px;
    font-family: "Kameron"; 
    color: #C4C4C4;
}

.CreatePostForm label{
    margin-bottom: 5px;
    font-size: 12px;
    text-transform: uppercase;
}

.CreatePostForm input{
    width: 200px; 
    height: 30px; 
    font-size: 16px; 
    margin-bottom: 20px;
    background-color: #C4C4C4;
    border: none;  
    color: #000E11;
    font-family: 'Kameron';
}

.CreatePostForm button{
    padding: 8px 5px;
    font-size: 10px;
    border: #EBFF00; 
    border-width: 0.1px;
    border-style: solid; 
    background-color: #01181D;
    font-family: "Kameron"; 
    color: #C4C4C4;
    text-transform: uppercase;
    margin: auto 70px;
    padding: 10px 40px; 
}

.CreatePostForm button:hover{
    cursor: pointer; 

}
